
.custom-font {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
  }
  
  .navbar-brand {
    padding-left: 20px;
  }
  
  .navbar-button {
    padding-right: 40px;
    
  }
  
  #navbtn {
    padding-left: 20px;  /* Adjust as needed */
    padding-right: 20px; /* Adjust as needed */
  }
  