.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .popup-overlay.show {
    opacity: 1;
    visibility: visible;
  }
  
  .popup {
    position: relative;
    width: 50%;
    height: 100%;
    background: #d32f2f; /* red accent color */
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    color: white; /* Ensure text is readable on red background */
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }
  
  .popup-overlay.show .popup {
    transform: translateX(0);
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5em;
    color: white;
    background-color: #000000;
    border-radius:5px;
    cursor: pointer;
  }
  
  .popup-img-container {
    border: 2px solid white;
    border-radius: 10px;
    
    margin-bottom: 20px;
  }
  
  .popup-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .popup h2 {
    margin-top: 0;
  }
  
  .popup .price {
    font-size: 1.5em;
    margin-top: 10px;
  }
  
  .popup .btn-primary {
    background-color: #ffeb3b; /* Add to cart button background color */
    border: none;
    color: black;
    font-weight: bold;
  }
  